<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <!-- Head -->
        {{{ body }}}
        <!-- Foot -->
    </body>
    <footer style="text-align: center;">
        <a href="/">Home</a> - <a href="/wall">Your wall</a> - <a href="/post/edit">Add Post</a> - <a href="/logout">Logout</a>
    </footer>
</html>