<h1>{{ header }}</h1>

<div style="width: 10%; border: 1px solid; padding: 5px">
<table>
    <tr><td><p>Quick Links</p></td></tr>
    <tr><td><a href="/">Home</a></td></tr>
    <tr><td><a href="/wall">Your wall</a></td></tr>
    <tr><td><a href="/">Home</a></td></tr>
    <tr><td><a href="/">Home</a></td></tr>
    <tr><td><a href="/">Home</a></td></tr>
    <tr><td><a href="/">Home</a></td></tr> 
</table>
</div>